.header{
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--green);
    padding: 0 10%;
    position: fixed;
    top: 0;
}

.logo{
    font-size: 2rem;
    color: var(--dark);
}

.header ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;
}

.header li{
    margin-left: 3rem;
}

.header a{
    text-decoration: none;
    font-size: 2.3rem;
    color: var(--dark);
}

.header a:hover,
.header a:active,
.header a.active{
    color: #F7B733;
}

.badge{
    background-color: #F7B733;
    color: var(--green);
    border-radius: 1.2rem;
    padding: 0 1rem;
    margin-left: 0.5rem;
}