


.image{
    width: 100%;
    overflow: hidden;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

.image img{
    height: 25rem;
    width: 100%;
}


.content{
    text-align: center;
    padding: 1rem;
}

.content h3{
    font-size: 3rem;
    color: var(--blue);
    margin-bottom: 2rem;
}

.actions{
    padding: 3rem;
    text-align: center;
}

.actions button{
    font: inherit;
    cursor: pointer;
    color: var(--dark);
    padding: 1rem;
    border-radius: 3rem;
    background-color: var(--blue);
    font-size: 2rem;
}

.actions button:hover,
.actions button:active{
    background-color: var(--green);
    color: #F7B733;
}

.title{
    color: red;
}
