form {
    padding: 1rem;
}

.control {
    margin-bottom: 0.5rem;
}

.control label {
    display: block;
    font-weight: 100;
    margin-bottom: 0.5rem;
}

.control input,
.control textarea {
    display: block;
    font: inherit;
    border-radius: 4px;
    border: 1px solid var(--blue);
    padding: 0.25rem;
    width: 100%;
    background-color: transparent;
    margin-top: 1rem;
}

.actions {
    margin-top: 1rem;
    text-align: right;
}

.actions button {
    font: inherit;
    cursor: pointer;
    background-color: var(--blue);
    color: var(--dark);
    padding: 0.5rem 1.5rem;
    border: 1px solid var(--blue);
    border-radius: 4px;
    font-weight: bold;
}

.actions button:hover,
.actions button:active {
    background-color: var(--green);
    border-color: var(--green);
    color: #F7B733;
}

.cardContent{
    margin-top: 11rem;
}

::placeholder{
    color: var(--blue);
    text-align: center;
    opacity: 25%;
    font-weight: 100;
}

textarea::placeholder{
    padding-top: 7rem;
}


