:root{
  --dark: #0b0c10;
  --grey: #1F2833;
  --greyLight: #C5C6C7;
  --blue: #66FCF1;
  --green: #45A29E;
}

*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body{
  font-size: 1.5rem;
  font-family: 'Lato', sans-serif;
  background-color: var(--dark);
  color: var(--greyLight);
}

h1{
  font-size: 2.5rem;
}

h2{
  font-size: 2rem;
}