:root{
  --dark: #0b0c10;
  --grey: #1F2833;
  --greyLight: #C5C6C7;
  --blue: #66FCF1;
  --green: #45A29E;
}

*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body{
  font-size: 3rem;
  font-family: 'Lato', sans-serif;
  background-color: var(--dark);
  color: var(--greyLight);
}

h1{
  font-size: 4rem;
  text-align: center;
  padding: 9rem 0 4rem 0;
  color: var(--blue);
  margin-left: 15rem;
  word-spacing: 3px;
  letter-spacing: 1px;
}

h2{
  font-size: 2rem;
}